*{
  margin: 0;
  padding: 0;  
}
.container{
    
    background-color: blanchedalmond;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.left{
    padding: 20px;
    background-color: rgb(255, 205, 205);
    width: 35%;
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(245, 240, 240);
    width: 65%;
}

.profile.image img {

    height: 200px;
    width: 200px;
    border-radius: 60%;
}
.profile.image{
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.contact {
    cursor: pointer;
    position: relative;
    left: 3px;
}
.contact ul li a {
    text-decoration: none;
    color: black;

}
.contact ul li {
    list-style: none;

}
.workExperience ul li{
    position: relative;
    left: 20px;
}
.language ul li{
    position: relative;
    left: 20px;
}
.skills ul li{
    position: relative;
    left: 20px;
}
.hobbies ul li{
    position: relative;
    left: 20px;
}